<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h2 class="mb-0">Adicionar Usuário</h2>
        </div>
        <div class="card-body">
          <form (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="mb-3">
              <label for="name" class="form-label">Nome:</label>
              <input type="text" id="name" name="name" [(ngModel)]="user.name" required class="form-control">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email:</label>
              <input type="email" id="email" name="email" [(ngModel)]="user.email" required class="form-control">
            </div>
            <div class="mb-3">
              <label for="role" class="form-label">Cargo:</label>
              <select id="role" name="role" [(ngModel)]="user.role" required class="form-select">
                <option value="Engenheiro de FE">Engenheiro de FE</option>
                <option value="Engenheiro de BE">Engenheiro de BE</option>
                <option value="Analista de dados">Analista de dados</option>
                <option value="Líder Técnico">Líder Técnico</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Senha:</label>
              <input type="password" id="password" name="password" [(ngModel)]="user.password" required minlength="6" maxlength="15" class="form-control" autocomplete="new-password">
              <div *ngIf="form.controls['password']?.invalid && (form.controls['password']?.dirty || form.controls['password']?.touched)" class="text-danger">
                <div *ngIf="form.controls['password']?.errors?.['required']">A senha é obrigatória.</div>
                <div *ngIf="form.controls['password']?.errors?.['minlength']">A senha deve ter pelo menos 6 caracteres.</div>
              </div>
            </div>
            <div class="d-grid">
              <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Salvar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>